/* making header fixed */

.header {
    display: block;
    position: fixed;
    z-index: 5;
    /* Use the appropriate z-index for your app */
    box-sizing: border-box;
    min-height: 80px;
    width: 100%;
    background: linear-gradient(315deg, #134297 0%, #0f3c8e 20%, #0b3785 40%, #07317c 60%, #032b74 80%, #00266b 100%);
}

.header__left {
    display:flex;
    justify-content: center;
    float: left;
}

.header__left img {
    display: table-cell;
    border: none;
    vertical-align: middle;
    height: 150px;
    width: 150px;
    padding-right: 26px;
}



.header__right {
    float: right;
}

body{
    margin:0;
    padding:0;
}

.header__lists{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
}

.header__lists li{
    display: inline-block;
    color: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 32px;
    margin-right: 18px;
    line-height: 1.2;
    transition: color 0.4s;
}

.header__lists li:hover{
    color: #f99f1c

}

.header__logo{
    display: table-cell;
    border: none;
    vertical-align: middle;
    width: 150px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 10px;
}